In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Linkin Park,Skin To Bone,"Skin to bone, steel to rust \r\nAsh to ashes,..."
1,Who,Sea And Sand,Here by the sea and sand \r\nNothing ever goe...
2,Alice Cooper,No More Mr Nice Guy,"I used to be such a sweet, sweet thing \r\n'T..."
3,Chicago,Long Time No See,"What you been doin, ain't you got no one \r\n..."
4,Beach Boys,Catch A Wave,Catch a wave and you're sitting \r\nOn top of...
5,Loretta Lynn,Crazy Out Of My Mind,I'm through the place where I don't know my na...
6,Judds,Calling In The Wind,"Ooh, hoohoo, ooh, hoohoo \r\nYou said I could..."
7,Puff Daddy,Back For Good Now,"[P. Diddy) \r\nUhh, yeah, you know what it is..."
8,The Jam,Time For Truth,Whatcha trying to say that haven't tried to sa...
9,Wilson Pickett,Mustang Sally,"Mustang Sally, think you better slow your must..."

In [9]:
df['text'][0]

"Skin to bone, steel to rust  \r\nAsh to ashes, dust to dust  \r\nWill tomorrow have it's way  \r\nWith the promises we made  \r\nSkin to bone, steel to rust.  \r\n  \r\nAsh to ashes, dust to dust  \r\nYour deception, my disgust  \r\nWhen your name is finally drawn,  \r\nI'll be happy that you're gone  \r\nAsh to ashes, dust to dust.  \r\n  \r\n[Chorus]  \r\n(Aah) Ash to ashes, dust to dust  \r\n(Aah) Skin to bone and steel to rust  \r\n  \r\nRight to left, left to right  \r\nNight to day and day to night  \r\nAs the starlight fades to gray,  \r\nI'll be watching far away  \r\nRight to left and left to right  \r\n  \r\n[Chorus]  \r\n  \r\nWill tomorrow have it's way  \r\nWith the promises betrayed  \r\nSkin to bone and steel to rust  \r\nSkin to bone and steel to rust  \r\nSkin to bone and steel to rust\r\n\r\n"

In [10]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [22]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\SUBHA/nltk_data'
    - 'C:\\Users\\SUBHA\\anaconda3\\nltk_data'
    - 'C:\\Users\\SUBHA\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\SUBHA\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\SUBHA\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['teaxt'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]

array([1.        , 0.00393082, 0.00163063, ..., 0.02116022, 0.01046137,
       0.00753376])

In [18]:
df[df['song'] == 'Crying Over You']

    artist             song                                               text
724   ABBA  Crying Over You  i'm waitin' for you baby  \r i'm sitting all a...

In [19]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [20]:
recommendation('Crying Over You')

["Cryin' Time Again",
 'Crying Time',
 "I'm Cryin'",
 "Don't Come Cryin' To Me",
 "Don't Let The Sun Catch You Crying",
 'If I Cried Every Time You Hurt Me',
 "Cryin' In One Eye",
 'Hank And Joe And Me',
 'I Want You To Want Me',
 'Who Is Like The Lord',
 'Midnight Blue',
 'Blue',
 'He Was A Friend Of Mine',
 'Our King Has Come',
 'Seriously In Love',
 'Something Out Of The Blue',
 'The Return Of Jackie And Judy',
 'However You Want It',
 "Back 'n Blue",
 'Blue Christmas']

In [ ]:
import pickle
pickle.dump(similarity,open('reccomend.pkl','wb'))
pickle.dump(df,open('data.pkl','wb'))